@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/pattern-background-desktop.svg") no-repeat;
  background-size: cover;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

.cardBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#mainContainer {
  background-color: #f3f3f3;
  width: 95%;
  max-width: 400px;
  height: 530px;
  border-radius: 20px;
  margin: auto auto;
  margin-top: 85px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
}

.image-cont {
  width: 100%;
}

.image-cont img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

div.content {
  padding: 20px 40px;
}

.textContent {
  text-align: center;
}

.textContent h3 {
  padding: 10px 0px;
  font-size: 25px;
  color: hsl(223, 47%, 23%);
}

.textContent p {
  color: hsl(224, 23%, 55%);
}

section.pricing {
  transition: all 1s ease-in-out;
}

div.music-cont {
  display: flex;
}

.music-cont img {
  margin-right: 20px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}

.annual {
  font-weight: bold;
}

.year {
  color: hsl(224, 23%, 55%);
}

div.togglePlan a {
  color: hsl(245, 75%, 52%);
}

div.togglePlan a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

section.paymentBtn {
  margin: 10px 0px;
  text-align: center;
}

.paymentBtn button {
  padding: 15px 90px;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  color: #f3f3f3;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: 0 3rem 10rem rgb(0 0 0 / 30%);
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}

.paymentBtn button:hover {
  background-color: hsl(224, 23%, 55%);
}

.paymentBtn p {
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.paymentBtn p:hover {
  color: hsl(223, 47%, 23%);
}

/* footer */
footer {
  position: absolute;
  margin-top: 60px;
  bottom: 3px;
  left: 10px;
  align-items: center;
  width: 100%;
  right: 0;
}


@media (max-width: 500px) and (orientation: portrait) {

  .paymentBtn button {
    padding: 10px 70px;
  }

  div.content {
    padding: 10px 40px;
  }
}

@media (max-width: 360px) {

  .paymentBtn button {
    padding: 10px 40px;
  }

  div.content {
    padding: 10px 40px;
  }
}
